:root {
    --primary-btn-background-color:rgba(229, 84, 115, 1);
    --primary-btn-background-hover-color:rgba(229, 84, 115, .7);
}
*{
    margin: 0;
    padding: 0;
    flex-direction: row;
    box-sizing: border-box;
}
body {
    font-family: 'Ephesis', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
} 
a {
    text-decoration: none;
}
.continer {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}
.flex {
    display: flex;
    display: block;
}
header {
    background-image: linear-gradient(rgba(35, 35, 35, 0.50),rgba(35, 35, 35, 0.50)),url(photo/Rectangle\ 1.png);
    width: 1920px;
    height: 900px;
    margin: 0 auto;
}
.left{
    margin-left: 100px;
    display: block;
    padding-top: 197px;
}
.text {
    color: #FFF;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
}
.text2 {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-56 {
    margin-bottom: 56px;
}
.mb-48 {
    margin-bottom: 48px;
}
.mb-18 {
    margin-bottom: 18px;
}
.mt-18 {
    margin-top: 18px;
}
.btn {
    background-color: var(--primary-btn-background-color);
    padding: 20px 43px;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none
}
.al {
    border-radius: 8px;
    border: 1px solid #E55473;
    padding: 20px 43px;
    gap: 10px;
    color: #E55473;
    font-size: 20px;
    font-weight: 700;
    background-color: #FFF;
}
.btn:hover {
    cursor: pointer;
    background-color: var(--primary-btn-background-hover-color);
}
.al:hover {
    cursor: pointer;
    background-color: aliceblue;
}
.step2 {
    padding-top: 128px;
}
.text3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text4 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.flex2 {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}
.flower-continer a {
    display: block;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
.flower-continer img {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.03);
    width: 464px;
    height: 482px;
}
.one {
    padding-top: 60.96px;
    padding-bottom: 60.48px;
    padding-left: 112px;
    padding-right: 112px;
}
.two {
    padding: 85px 76px;
}
.three {
    padding-top: 96px;
    padding-left: 77px;
    padding-right: 77px;
}
.four {
    padding-top: 67px;
    padding-bottom: 95px;
    padding-left: 72px;
    padding-right: 72px;
}
.five {
    padding-top: 117px;
    padding-left: 87px;
    padding-right: 87px;
}
.sex {
    padding-top: 78.9px;
    padding-bottom: 78.52px;
    padding-left: 84px;
    padding-right: 83px;
}
.seven {
    padding-top: 69px;
    padding-bottom: 70px;
    padding-left: 89px;
    padding-right: 89px;
}
.eight {
    padding: 105px 35px;
}
.nine {
    padding-top: 107px;
    padding-bottom: 125px;
    padding-left: 81px;
    padding-right: 81px;
}
.ten {
    padding-top: 73px;
    padding-bottom: 78px;
    padding-left: 61px;
    padding-right: 61px;
}
#ton {
    color: #E55473;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}
.btn2 {
    text-align: center;
}
.flower-continer2 a {
    display: block;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
.flower-continer2 img {
    border-radius: 300px;
    background: rgba(39, 39, 39, 0.03);
    width: 342px;
    height: 482px;
    flex-shrink: 0;
}
.step2continer {
    padding-bottom: 128px;
}
.Hurry-Up {
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}
.mt-128 {
    padding: 128px;
}
/* .left2,
.right {
    max-width: 50%;
} */
.Hurry {
    color: #E55473;
    font-family: Ephesis;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.Deal {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.text5 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.vertical-line {
    width: 70px;
    height: 1px;
    background: rgba(0, 0, 0, 0.10);
}
.vertical-line-position {
    padding: 8px 10px ;
}
.vertical-line2 {
    width: 70px;
    height: 1px;
    background: #E55473;
}
.box-top-text {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.box-top-text2 {
    color: #e55473;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.box-bottom-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.box-bottom-text2 {
    color: #e55473;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.box1 {
    border-radius: 4px;
    background: #FFF;
    width: 90px;
}
.box2 {
    border-radius: 4px;
    border: 1px solid #E55473;
    background: rgba(229, 84, 115, 0.05);
    width: 90px;
}
.box3 {
    border-radius: 4px;
    background: #FFF;
    width: 90px;
}
.box4 {
    border-radius: 4px;
    background: #FFF;
    width: 90px;
}
.btn-pojetion {
    text-align: center;
}
.right {
    margin-top: 93px;
    margin-right: 141px;
}
.off {
    color: #E55473;
}
.footer {
    width: 1920px;
    height: 592px;
    background: #111010;
    margin-left: auto;
    margin-right: auto;
}
.Flower-text {
    font-family: Lato;
    font-size: 48px;
    color: #E55473;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 128px;
}
.Shop-color {
    color: #FFF;
}
.text-align {
    text-align:center ;
}
.p-color {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-family: Lato;
    line-height: 30px;
}
.logo-gap {
    gap: 40px;
}
.bottom-text {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text-gap {
    display: inline-flex;
    padding: 10px;
    gap: 60px;
}