:root {
    --primary-btn-background-color:rgba(229, 84, 115, 1);
    --primary-btn-background-hover-color:rgba(229, 84, 115, .7);
}
*{
    margin: 0;
    padding: 0;
    flex-direction: row;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
} 
a {
    text-decoration: none;
}
.continer {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}
.flex {
    display: flex;
    display: block;
}
header {
    background-image: linear-gradient(rgba(35, 35, 35, 0.50),rgba(35, 35, 35, 0.50)),url(photo/Rectangle\ 1.png);
    width: 1920px;
    height: 900px;
    margin: 0 auto;
}
.left{
    margin-left: 100px;
    display: block;
    padding-top: 197px;
}
.text {
    color: #FFF;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
}
.text2 {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-56 {
    margin-bottom: 56px;
}
.mb-48 {
    margin-bottom: 48px;
}
.btn {
    background-color: var(--primary-btn-background-color);
    padding: 20px 43px;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none
}
.al {
    border-radius: 8px;
    border: 1px solid #E55473;
    padding: 20px 43px;
    gap: 10px;
    color: #E55473;
    font-size: 20px;
    font-weight: 700;
    background-color: #FFF;
}
.btn:hover {
    cursor: pointer;
    background-color: var(--primary-btn-background-hover-color);
}
.al:hover {
    cursor: pointer;
    background-color: aliceblue;
}
.step2 {
    padding-top: 128px;
}
.text3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text4 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.flex2 {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}
.flower-continer a {
    display: block;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}
.flower-continer img {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.03);
    width: 464px;
    height: 482px;
}
.one {
    padding-top: 60.96px;
    padding-bottom: 60.48px;
    padding-left: 112px;
    padding-right: 112px;
}
.two {
    padding: 85px 76px;
}
.three {
    padding-top: 96px;
    padding-left: 77px;
    padding-right: 77px;
}
.four {
    padding-top: 67px;
    padding-bottom: 95px;
    padding-left: 72px;
    padding-right: 72px;
}
.five {
    padding-top: 117px;
    padding-left: 87px;
    padding-right: 87px;
}
.sex {
    padding-top: 78.9px;
    padding-bottom: 78.52px;
    padding-left: 84px;
    padding-right: 83px;
}
#ton {
    color: #E55473;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}
.btn2 {
    text-align: center;
}
